In [2]:
import pandas as pd
charges_df = pd.read_csv('insurance.csv')

In [3]:
charges_df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from pycaret.regression import * 
s = setup(charges_df, target='charges')

In [5]:
best = compare_models()

In [6]:
gbr_model = create_model('gbr')

In [9]:
evaluate_model(gbr_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [13]:
predict_model(gbr_model)

,age,bmi,sex_female,children_0,children_1,children_2,children_3,children_4,children_5,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest,charges,Label
0,61.0,31.570000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,12557.605469,14793.934103
1,37.0,47.599998,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,46113.511719,52191.348354
2,46.0,28.049999,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8233.097656,9771.803327
3,60.0,18.334999,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,13204.286133,14203.804851
4,52.0,18.334999,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,9991.038086,13181.768699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,61.0,21.090000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,13415.038086,14008.270313
398,23.0,37.099998,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3597.595947,4356.320258
399,61.0,38.380001,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,12950.071289,13818.389779
400,38.0,27.834999,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6455.862793,7826.663183
401,63.0,26.219999,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,14256.192383,14686.805662

In [ ]:
save_model(gbr_model, model_name='gbr_insurance')